<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'Landing/css/search.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
<body>
    {% include 'Landing/navbar.html' %}
    <div id="main">
    <div id="searchAndOptions">
        <div>
            <input id="search-input" type="text"></input>
            <button type="submit" id= "search-submit">Search</button>
        </div>
        <div id="paras"></div>
        <div id="choices"></div>
    </div>
    <div id="show"></div>
    <div id="map"></div>
    </div>
    <script>
        q = "{{q}}"; // get the query
        // console.log(q);
        if (!(q==="")){
            document.title = q + " - Kuai Location Search";
        }
        else{
            document.title = "Kuai Location Search"
        }
    </script>
    <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBzd999zA1_gyh7uB6KpUh-hBaYsl0vmIQ&callback=initialize&libraries=places&v=weekly"
    defer
    ></script> <!--&callback=initialize-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>



    <script src="{% static 'Landing/js/advancedSearch.js' %}"></script>
</body>

</html>
