{% load static %}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- add more jquery from more CDNs -->
<!-- use to display locations  -->
<script src="Search.js"></script>
<label for="Search">Search:</label>
<input id="search-bar" name="Search" type="search"></input>
<div id="map"></div>
<link rel="stylesheet" type="text/css" href="{% static 'Landing/css/go.css' %}">
<script
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBzd999zA1_gyh7uB6KpUh-hBaYsl0vmIQ&libraries=&v=weekly"
defer">
</script>


<script>
var targetID = "{{target_id}}";
console.log(targetID);
var pos;
var targetingPlace = false;
const geocoder = new google.maps.Geocoder();
// var yco, xco //our coords
if (targetID != ''){
  geocoder.geocode({ placeId: targetID }, (results, status) => {
    console.log('geocode start');
    targetingPlace = true;
    if (status !== "OK" && results) {
      window.alert("Geocoder failed due to: " + status);
      return;
    }
    // Set the position of the marker using the place ID and location.
    pos = results[0].geometry.location
    //init map
    initMap()
  });
}else{
  //center on user location
  getLocation();
  //init map
  initMap()
}


function getLocation(){
    var x=document.getElementById("show");
    if (navigator.geolocation){
        navigator.geolocation.getCurrentPosition(showPosition);
      }
    else{
      x.innerHTML="Geolocation is not supported by this browser.";
    }
}

function showPosition(position){
  pos = {lat: position.coords.latitude, lng: position.coords.longitude};
  console.log("after: " + targetcoords);
}

//---- get location of user//
  function initMap() {
    console.log(pos)
    
    //setting up map
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 18,
      center: pos,
      styles: [
  {
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#f5f5f5"
      }
    ]
  },
  {
    "elementType": "labels.icon",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#616161"
      }
    ]
  },
  {
    "elementType": "labels.text.stroke",
    "stylers": [
      {
        "color": "#f5f5f5"
      }
    ]
  },
  {
    "featureType": "administrative.land_parcel",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#bdbdbd"
      }
    ]
  },
  {
    "featureType": "poi",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#eeeeee"
      }
    ]
  },
  {
    "featureType": "poi",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#757575"
      }
    ]
  },
  {
    "featureType": "poi.park",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#e5e5e5"
      }
    ]
  },
  {
    "featureType": "poi.park",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#9e9e9e"
      }
    ]
  },
  {
    "featureType": "road",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#ffffff"
      }
    ]
  },
  {
    "featureType": "road.arterial",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#757575"
      }
    ]
  },
  {
    "featureType": "road.highway",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#dadada"
      }
    ]
  },
  {
    "featureType": "road.highway",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#616161"
      }
    ]
  },
  {
    "featureType": "road.local",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#9e9e9e"
      }
    ]
  },
  {
    "featureType": "transit.line",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#e5e5e5"
      }
    ]
  },
  {
    "featureType": "transit.station",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#eeeeee"
      }
    ]
  },
  {
    "featureType": "water",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#c9c9c9"
      }
    ]
  },
  {
    "featureType": "water",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#9e9e9e"
      }
    ]
  }
]

    });

    //marker for current location
    var marker = new google.maps.Marker({position: pos, map: map});

    //temp info window
    infoWindow = new google.maps.InfoWindow;
    infoWindow.setPosition(pos);
    infoWindow.setContent('Location found.');
    infoWindow.open(map);

    //image for flags
    var image = 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png';


    //to bounce
    function toggleBounce(markers) {
     if (markers.getAnimation() !== null) {
       markers.setAnimation(null);
     } else {
       markers.setAnimation(google.maps.Animation.BOUNCE);
     }
    }
//      //finding location of markers
      var locations = [
        {lat: 40.71805863849005, lng: -74.01375605521697},
      ]
      const labels = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
      //all markers
      var markers = [];
      locations.forEach(function(location, i) {
          let newMarker = new google.maps.Marker({
          position: location,
          icon: image,
          label: labels[i],
        });
        newMarker.addListener('click', toggleBounce);
        markers.push(newMarker);
      });
      
      console.log("test");

    }

    
    
</script>




</div>
</center>
</div>

</body>
</html>