<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'Landing/css/go.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Mate+SC&display=swap" rel="stylesheet">
</head>

<body>
    {% include 'Landing/navbar.html' %}
    <div id="main">
        <div id="MainSwitch">
        <span id="WaitTime">Wait Time</span>    
        <span id="HeatMap">Heat Map</span>
        
        </div>
        <div id="searchAndOptions" class="goMap">
            <span id="search-container">
                <input id="search-input" type="text"></input>
                <button type="submit" id="search-submit" class="button is-rounded">Search</button>

            </span>


            <div id="paras"></div>
            <div id="choices"></div>
        </div>
        <div id="arrow" class="goMap"></div>
        <div id="show" class="goMap"></div>
        <div id="map"></div>
        <div class="goMap">
            <div id="all-directions-panel" >
            <div id="popup">

                {% include 'Landing/popup.html' %}
            </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        {% if user.is_authenticated %}
        var is_authenticated = true;
        {% else %}
        var is_authenticated = false;
        {% endif %}
        var q = "{{q}}"; // get the query
        // console.log(q);
        var targetID = "{{target_id}}";

        if (!(q === "")) {
            document.title = q + " - Kuai Location Search";
        }
        else {
            document.title = "Kuai Go"
        }
    </script>
    
    <script src="{% static 'Landing/js/location.js' %}"></script>
    <script src="{% static 'Landing/js/go.js' %}"></script>
    <script src="{% static 'Landing/js/popup.js' %}"></script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBzd999zA1_gyh7uB6KpUh-hBaYsl0vmIQ&callback=initialize&libraries=places,visualization&v=weekly"></script>
    <!---->
    <script src="{% static 'Landing/js/heatmap.js' %}"></script>
    <script src="{% static 'Landing/js/directions.js' %}"></script>
    <script src="{% static 'Landing/js/webSockets.js' %}" defer></script>

</body>

</html>