
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Landing</title>
        {% load static %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'Landing/css/landing.css' %}">


  
    </head>
    <body>
        <!-- Modify to fit different businesses and staff and users; move to navbar.html -->
        {% include 'Landing/navbar.html' %}

        <div class="landing">

            <h1 id="landing-text">Be serviced faster!<br/></h1>

            <form style="
                    z-index: 1;
                ">
                <input id="search-input" type="text" placeholder="Name, Location, or Product" name="q">
                <input id="search-submit" type="submit" value="Go">
            </form>

        </div>

        <div>
            <h1 id="mission-statement">Mission Statement</h1>
            <p class="placeholder"> Lorem ipsum dolor sit amet, insolens erroribus vituperatoribus ius ad. Erat tamquam consequat ei nam, ut sint mundi eirmod cum. Vidit fuisset sea an, ei sit nonumy nullam ceteros, elit dicat clita cu pro. Eum erant errem impetus ne. Et per dicam viderer facilisi, odio facilis moderatius sea eu.
                Ei sit intellegat contentiones, vis te aperiam nostrud impedit, qui te mundi partiendo. Platonem voluptatibus sit in, mutat lobortis vix ut. Minim suscipit salutatus his an. Melius accusamus aliquando pro id, duo no altera delicata. Has ut ubique malorum ullamcorper, vix assum labore temporibus in, vel nostro qualisque ea. Et duis qualisque sit. Et qui vide meis, eu ius unum eligendi atomorum, sea ea malorum moderatius.
                Ad vel quod oblique imperdiet. Ius ut malis mazim placerat, ex mel commune fastidii perfecto, quod voluptua gloriatur ne his. In semper dicunt percipit mea, enim propriae has id. Sea at nobis ornatus appellantur. Eam in harum sonet laboramus, duis putent mei ei. An congue labitur percipit vis, ius ex ullum hendrerit reformidans.
                Et mei amet libris utroque. Sint nonumy nullam mel te, tollit graeco laoreet mea ne. At vitae audiam nec. Ea zril minimum facilisis sed, eum aeterno assueverit liberavisse ad. Harum alterum molestiae an nec, utamur quaeque utroque ut per.
                At sed amet animal, ad ius mutat maiestatis argumentum, aliquam contentiones ea cum. Et ubique maiorum sententiae est, fastidii nominavi definitionem ex sit. Id usu novum contentiones concludaturque. Ea habeo consul eum, eu falli dolorem nam. Sanctus fabulas fuisset vis id, nec cu postulant tincidunt, at menandri deseruisse mediocritatem pro.
            </p>
        </div>

    </body>
            <!-- hid api keys later -->
            <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBzd999zA1_gyh7uB6KpUh-hBaYsl0vmIQ&callback=initialize&libraries=places&v=weekly"
            defer
          ></script>
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
          <script src="{% static 'Landing/js/landing.js' %}"></script>
</html>
