<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Landing Images</title>
        <link rel="stylesheet" href="landing-images.css">
    </head>
    <body>
        
        <div>
            <h2 class="kuai">Kuai</h1>
        </div>

        <div id="landing-image1">
            <h1 class="landing-images-text">Line up at home</h1>
        </div>

        <div class="empty-space"></div>

        <div id="landing-image2">
            <h1 class="landing-images-text">Know the wait time</h1>
        </div>

        <div class="empty-space"></div>

        <div id="landing-image3">
            <h1 class="landing-images-text">Stay safe and avoid the crowds</h1>
        </div>

    </body>
</html>