{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <title>Login</title>
        <link rel="stylesheet" type="text/css" href="{% static 'Landing/css/login.css' %}">
    </head>
    <body>
        
        <div>
            <h2 class="kuai">Kuai</h1>
        </div>

        <div>
            <h1 id="login">Login</h1>
        </div>
        <!-- dont do our own login -->
        <form action="{% url 'Landing:login' %}" method="post">
            {% csrf_token %}
            {{ form }} 
            <input type="submit">
        </form>

        <h1>My Google Login Project</h1>
        <a href="{% provider_login_url 'google' %}">Login with Google</a>

        <div id="login-button-surrounding">
        </div>

    </body>
</html>
