{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'Landing/css/navbar.css' %}">
<script src="{% static 'Landing/js/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'Landing/js/navbar.js' %}"></script>
<div id="nav">
    <span id="hamburger">
        <span id="hamburger-icon">☰</span>

        <span id="dropdown-menu">
            <div>Home</div>
            <div>Contact Us</div>
            <div>About/FAQs</div>
            <div>Mission Statement</div>
        </span>
    </span>
    <span id=logo>
        Kuai
    </span>
    <span id="SignIn_Acc">
        Sign In
    </span>
</div>