<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Landing</title>
        {% load static %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'Landing/css/popup.css' %}">
    </head>
    <body>
        <div id="bizmane">
            <p id=>Business Name:</p>
        </div>
        <div id="specifics">
            <p>Wait time <br /> Capacity <br /> Reviews</p>
        </div>
        <div id="imgarea">
        </div>
        <div id="altrec">
            <p>Alternative Reccommendations</p>
        </div>