/*
Menu Credit: Erik Terwan, 24th of November 2015, MIT License
*/

#menu {
  display: block;
  position: relative;
  float: left;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menu a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#menu a:hover {
  color: turquoise;
}

#menu input {
  display: block;
  width: 40px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; 
  z-index: 2;
  -webkit-touch-callout: none;
}

#menu span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  background: turquoise;
  position: relative;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menu span:first-child {
  transform-origin: 0% 0%;
}

#menu span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menu input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: black;
}

#menu input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menu input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#options {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: whitesmoke;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#options li {
  padding: 10px;
  font-size: 22px;
}

#menu input:checked ~ ul {
  transform: none;
}

.kuai {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: turquoise;
}

.landing {
    flex-direction: column;
    position: relative; 
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing::before {    
      content: "";
      background-image: url("https://images.pexels.com/photos/1092730/pexels-photo-1092730.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.45;
}

#landing-text {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

#search-input {
    margin-right: 10px;
    z-index: 1;
    text-align: center;
    box-sizing: border-box;
    width: 350px;
    height: 35px;
    border-radius: 7px;
    border: 1px solid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
} 

#search-submit {
    z-index: 1;
    border-radius: 7px;
    border: 1px solid;
}

#mission-statement {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    text-align: center;
}

.placeholder {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#Main-Search {
    width: 25%;
    display: flex;
}
