/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
         text-align: center;
        height: 100%;
        width: 100%;

    }
      
      
      /* Optional: Makes the page fill the window. */
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
      }

/* search + options */
#searchAndOptions{
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  
}
#search-container{
  width: 100%;
  position: relative;
  text-align: center;
  padding: 2%;
}
#choices{
  flex-direction: column;
  display: flex;
  overflow: scroll;
  height: calc(100% - 5em);
  float: right;
  width: 100%;
}
#arrow{
  width: 0;
  height: 0;
  left:20px;
  border-top: 15px solid transparent;
  border-right: 20px solid hsl(171, 95%, 48%);
  border-bottom: 15px solid transparent;
}

#main{
    display: flex;
    flex-direction:row;
    height: 100%;
    justify-content: space-around;
}

.option-items{
  font-size: 2vw;
  margin: 0;
  background-color: rgb(255, 255, 255);
  border-color: black;
  border-radius: 0;
  padding: 0%;
  color: navy;
  text-align: center;
  font-family: 'Mate SC', serif;
  font-weight: bold;
}
      #description {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
      }
      
      #infowindow-content .title {
        font-weight: bold;
      }
      
      #infowindow-content {
        display: none;
      }
      
      #map #infowindow-content {
        display: inline;
      }
      
      .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
      }
      
      #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
      }
      
      .pac-controls {
        display: inline-block;
        padding: 5px 11px;
      }
      
      .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }
      
      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
      }
      
      #pac-input:focus {
        border-color: #4d90fe;
      }
      
      #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
      }
      
      #target {
        width: 345px;
      }


#search-input {
  height: 40px;
}
hr {
  padding: 0%;
  margin: 0%;
  border: 0%;
  color: black;
  font-weight: bold;
}

#all-directions-panel{
  position: relative;
  flex-direction: column-reverse;
  justify-content: flex-end;
  right: 0px;
  z-index: 4;
  background: white;
  text-align: center;
  width: 40%;
}