.kuai {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.landing {
    position: relative; 
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing::before {    
      content: "";
      background-image: url("https://images.pexels.com/photos/1092730/pexels-photo-1092730.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.45;
}

#landing-text {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

#search-input {
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    height: 25px;
    border-radius: 5px;
    border: 4px solid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
} 

#mission-statement {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    text-align: center;
}

.placeholder {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}